@page
@model Agenda_de_produse.Pages.Produse.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].Denumire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].PretUnitar)
            </th>
            <th>   
                @Html.DisplayNameFor(model => model.Produs[0].DataExp)          
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].Furnizor.NumeFurnizor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].Familie.NumeFamilie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Produs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PretUnitar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataExp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Furnizor.NumeFurnizor)            
            </td>
            <td>                 
                @Html.DisplayFor(modelItem => item.Familie.NumeFamilie)             
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
